<div class="mt-6 mb-7 px-3">
  <a href="/"><h1 class="text-3xl font-bold">iRacing Stats</h1></a>
  <div>We translate racing data into visual insights.</div>
</div>

<ul class="pt-7 pb-12 flex flex-wrap justify-center gap-4 bg-white m-auto px-3">
  <% assigns[:seasons].each do |season| %>
    <li class="w-64">
      <a href="/seasons/<%= season[:season_id] %>">
        <%-
          id = season[:series_id].to_s
          logo = assigns[:assets][id.to_sym][:logo]
        %>
        <img src="https://images-static.iracing.com/img/logos/series/<%= logo %>" />
      </a>
    </li>
  <% end %>
</ul>
<ul class="flex flex-col gap-1 py-10">
  <% assigns[:seasons].each do |season| %>
    <li>
      <a href="/seasons/<%= season[:season_id] %>">
        <%= season[:season_name] %>
      </a>
    </li>
  <% end %>
</ul>
