<div class="pb-4">
  <a href="/"><h1 class="text-3xl font-bold">iRacing Stats</h1></a>
  <p class="mt-2">We translate racing data into visual insights.</p>
</div>

<ul class="pt-4 pb-12 flex flex-wrap justify-center gap-4 bg-white m-auto">
  <% assigns[:seasons].each do |season| %>
    <li class="w-64">
      <a href="<%= season['season_id'] %>">
        <%-
          id = season['series_id'].to_s
          logo = assigns[:assets][id]['logo']
        %>
        <img src="https://images-static.iracing.com/img/logos/series/<%= logo %>" />
      </a>
    </li>
  <% end %>
</ul>
<ul class="flex flex-col gap-1 py-10">
  <% assigns[:seasons].each do |season| %>
    <li>
      <a href="<%= season['season_id'] %>">
        <%= season['season_name'] %>
      </a>
    </li>
  <% end %>
</ul>
