<h1 class="text-3xl mb-8 uppercase font-bold">iRacing Stats</h1>
<ul class="mt-4 flex flex-wrap justify-center gap-4">
  <% assigns[:seasons].each do |season| %>
    <li class="w-64">
      <a href="<%= season['season_id'] %>">
        <%-
          id = season['series_id'].to_s
          logo = assigns[:assets][id]['logo']
        %>
        <img src="https://images-static.iracing.com/img/logos/series/<%= logo %>" />
      </a>
    </li>
  <% end %>
</ul>
<ul class="flex flex-col gap-1 pt-16">
  <% assigns[:seasons].each do |season| %>
    <li>
      <a href="<%= season['season_id'] %>">
        <%= season['season_name'] %>
      </a>
    </li>
  <% end %>
</ul>
