<!DOCTYPE html>
<html>
<body>
  <ul>
  <%= for season <- seasons do %>
    <li>
      <a href="<%= "/seasons/#{season.season_id}" %>">
        <%= season.season_name %>
      </a>
    </li>
  <% end %>
  </ul>
</body>
</html>
